@media screen and (max-width: 1024px) {
   .pagewrap {
      width: 95%;
   }
   .container {
      width: 95%;
   }
   .header {
      height: auto;
   }
}

@media screen and (max-width: 768px) {
   .header {
      height: auto;
   }
   
   .pagewrap {
      width: 95%;
      margin: 0;
   }
   
   .container {
      max-width: 95%;
      width: 95%;
   }

}

@media screen and (max-width: 576px) {
   .pagewrap {
      width: 95%;
   }
   .header {
      height: auto;
   }
   #searchform {
      position: absolute;
      top: 5px;
      right: 0;
   }

   .container {
      width: 95%;
      float: none;
      margin: 20px 0;
   }
}

@media screen and (max-width: 480px) {
   html {
      -webkit-text-size-adjust: none;
   }
}