@media screen and (max-width: 1024px) {
   .pagewrap {
      width: 95%;
      max-width: 95%;
   }
   
   .container {
      max-width: 95%;
      width: 95%;
   }
   .header {
      height: auto;
   }
}

@media screen and (max-width: 768px) {
   .pagewrap {
      width: 95%;
      margin: 0 auto;
   }
   .container {
      max-width: 95%;
      width: 95%;
      padding: 0;
   }
   .header {
      height: auto;
   }
}

@media screen and (max-width: 576px) {
   .pagewrap {
      width: 95%;
      
   }
   .container {
      max-width: 95%;
      width: 95%;
   }
   .header {
      height: auto;
   }
   
   .basket {
      display: none;
   }
/*
   .container {
      width: 95%;
   }*/
}

@media screen and (max-width: 480px) {
   html {
      -webkit-text-size-adjust: none;
   }
   .pagewrap {
      width: 95%;
   }
   
   .container {
      max-width: 95%;
      width: 95%;
   }
   
   .header {
      height: auto;
   }
   
   .basket {
      display: none;
   }

   .text_ {
      display: none;
   }

   .header_center {
      justify-content: center;
      position: relative;
      top:150px;
      width:100%;
      }
   }
   .login {
      display: inline-block;
      text-align: center;
      margin: 0px 0 0 0;
   }
}