
.pagewrap {
  width: auto;
  margin: 0 auto;
}

.header {
  height: 72px;
  width: auto;
  background-color: #fff;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0;
}
/*
.header_center {

}  

*/
#content {
   float: left;
}

.logo {
  display: inline-block;
  text-align: center;
}

.logo_text1 {
  display: inline-block;
  padding: 10px 5px 10px 5px;
  color: #000000;
}

.logo_text2 {
  display: inline-block;
  padding: 10px 10px 10px 5px;
  color: #57AD56;
}


.asap {
  display: inline-block;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  width: 65px;
  text-align: center;
  padding: 5px 10px;
}

.text_ {
  display: inline-block;
  padding: 10px;
}

.location {
  display: inline-block;
  padding: 5px 10px;
}

.icon {
  display: inline-block;
}

.icon img {
  width: 16px;
  height: 16px;
}

.address {
  display: inline-block;
}

.login {
  display: inline-block;
  text-align: center;
  margin: 0px 0 0 0;
}

.knopki {
  margin: 37px 0 0 0;
}

.signin {
  display: inline-block;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  width: 80px;
  padding: 5px 10px;
  color: #1D1D1D;
}

.register {
  display: inline-block;
  border: 1px solid #E0E0E0;
  background-color: #262626;
  width: 80px;
  padding: 5px 10px;
  color: #fff;
}

.location {
  border: 1px solid #E0E0E0;
  padding: 5px 10px;
  display: inline-block;
}

.horizont-line {
  width: 95%;
  border-bottom: solid 1px #979797;
  padding-left: 0px
}

.basket {
  display: inline-block;
  width: 40px;
  height: 72px;
}

.basket img{
  margin: 0px 0px 0px 0px;
  padding: 7px;
}

.poisk {
    padding: 0 10px 0 10px; 
   }

#searchform {
  margin: 0 auto;
  width: auto;
}

.search {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем растягивается */
  width: 100%;
  /* padding-top: 30px; */
  border: 0;
  border-bottom: 1px solid #979797;
}

.search input {
  /* отключаем бордюры у инпутов */
  border: none;
}

/* стили для поля ввода */
.search .input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 100%;
  padding: 0 0 0 0;
  font-family: Roboto, Regular;
  color: #626262;
  font-size: 16px;
  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ слева (37px) делаем больше правого,
  ** т.к. там будет размещена кнопка отправки */
  padding: 8px 15px 9px 50px;

  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* добавляем внутренние тени */
  /* box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3); */

  /* закругляем углы */
  /* border-radius: 20px; 

  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;*/
  outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
  
  position: relative;
  width: 37px;
  height: 29px;
  cursor: pointer;
  margin: -35px 0 0 0;

  /* растягиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
  opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}

.panel-body {
  padding: 0 0px 30px 0px ;
  height: 100%;
  width: auto;
}

.main_text {
  font-family: Arial, sans-serif;
  color: #1D1D1D;
  font-size: 22px;
  padding: 20px 0 20px 10px; 
}

.img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}

.text_1 {
  color: #1D1D1D; 
  font-size: 16px; 
  width: 275.58px;
  padding: 15px 0px 0px 10px;
}

.text_2 {
  color: #626262; 
  font-size: 14px;
  width: 275.58px;
  padding: 0px 0px 0px 10px;
}

.text_3 {
  color: #1D1D1D; 
  font-size: 13px;
  width: 275.58px;
  padding: 0px 0px 0px 10px;
}

.row.is-flex > [class*='col-'] .panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

.footer {
   height: auto;
   width: 100%;
   background-color: #262626;
   margin:0 auto;
   align-items: center;
   color: #fff;
}

.logo_footer {
  margin-top: 0;
  font-size: 16px;
  padding: 0 0 0 10px;
}

.logo_footer_text1 {
  display: inline-block;
  padding: 10px 5px 10px 5px;
  color: #fff;
  font-size: 26px;
}

.logo_footer_text2 {
  display: inline-block;
  padding: 10px 10px 10px 5px;
  color: #57AD56;
  font-size: 26px;
}

hr {
  border: none; /* Убираем границу */
  background-color: #979797; /* Цвет линии */
  color: #979797; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 95%;
  color: #c10808;

}

.language {
  display: inline-block;
  border: 1px solid #E0E0E0;
  width: 176px;
  text-align: center;
  padding: 5px 10px;
  background-color: #3B3B3B;
  margin: 0 0 0 10px;
}

.socials {
  height: 96px;
  width: 100px;
  margin: 0 0 0 10px;
}

.app {
  text-align: center;
  width: 100%;
}

.app img{
  text-align: center;
  
}

.copywrite {

}

.footer_button {
  display: flex;
  justify-content: space-between;
}

.popup_content {
  padding: 15px 0 0 15px;
}

.img_cont img{
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 0;
}

.footer_block {
  padding: 0 0 0 30px;
}
/* font 
body {
  font-family: Arial, sans-serif;
  color: #444444;
}

h2 {
  font-weight: normal;
}

#pagewrap {
   width: 308px;
   margin: 0 auto;
   display: inline;
   padding: 0px;
}

.col-md {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 30px;
  width: 308px;
  height: 356px;
}

.content {
  width: 320px;
  height: 72px;
  padding-right: 6px;
  padding-left: 6px;
  margin:0 auto;
}

.img {
  display: block;
  margin:0 auto;
}

.center {
  display: block;
  margin:0 auto;
}

#header {
  width: 320px;
  height: 72px;
  background-color: #00FF00;
  margin:0 auto;
  padding: 30px;
  display: block;
}

#footer {
  width: 320px;
  height: 862px;
  background-color: #262626;
  margin:1400px auto 0;
}

.text_1 {
  color: #1D1D1D; 
  font-size: 16px; 
  width: 275.58px;
  padding: 15px 0px 0px 0px;
}

.text_2 {
  color: #626262; 
  font-size: 14px;
  width: 275.58px;
  padding: 0px 0px 0px 0px;
}

.text_3 {
  color: #1D1D1D; 
  font-size: 13px;
  width: 275.58px;
  padding: 0px 0px 0px 0px;
}

.main_text {
  margin: 0px 0px 10px 0px;
  color: #1D1D1D; 
  font-size: 22px;
}

.logo-header {
  display: inline-block;

}

.logo-footer {
  width: 192px;
  height: 20px;
  display: inline-block;
  float: left;

}

.signin {
  display: inline-block;
  border: 1px solid #E0E0E0;
  padding: 10px;
  background-color: #fff;
  width: 72px;
  height: 40px;
  color: #1D1D1D;
}

.register {
  display: inline-block;
  border: 1px solid #E0E0E0;
  padding: 10px;
  background-color: #262626;
  width: 72px;
  height: 40px;
  color: #fff;
}


.location {
  border: 1px solid #E0E0E0;
  margin: 10px;
  display: inline-block;
}

*/

/* div {padding: 20px;} */
